.galleryContainer{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(127, 125, 125, 0.47);
    margin-top:20px;
    // padding:20px;

    .title{
        font-size: 18px;
        color:gray;
        padding:10px;
    }
}